<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ICM_ECM.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/custom_style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm my-bg-color border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand my-text-white" asp-area="" asp-page="/Index">ICM_ECM.Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 my-text-white">
                    <li class="nav-item">
                        <a class="nav-link my-text-white" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-text-white" asp-area="" asp-page="/Search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-text-white" asp-area="" asp-page="/File"> File </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-text-white" asp-area="" asp-page="/Settings"> Settings </a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link my-text-white" asp-area="" asp-page="/Test">Test</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link my-text-white" asp-area="" asp-page="/User">Udit Mark (ECS), HCL Industry Solution Admin &nbsp; <span class="my-bold-text"><i class="bi bi-box-arrow-right"></i></span></a>
                        
                    </li>
                    <li class="nav-item">
                       <a class="nav-link my-text-white"><i class="bi bi-brightness-high"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<footer class="border-top footer text-muted my-bg-color">
    <div class="container">
      <p class="text-center"> HCL Tech </p>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>